<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyy.saas.web.schedule.dao.OrderReportAreacodeMapper">
  <resultMap id="BaseResultMap" type="com.xyy.saas.web.schedule.po.OrderReportAreacode">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="area_code" jdbcType="VARCHAR" property="areaCode" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="amount_paid" jdbcType="DECIMAL" property="amountPaid" />
    <result column="order_number" jdbcType="BIGINT" property="orderNumber" />
    <result column="first_order_number" jdbcType="BIGINT" property="firstOrderNumber" />
    <result column="valid_orders" jdbcType="BIGINT" property="validOrders" />
    <result column="new_refund_order" jdbcType="BIGINT" property="newRefundOrder" />
    <result column="actual_refund_amount" jdbcType="DECIMAL" property="actualRefundAmount" />
    <result column="sku_number" jdbcType="BIGINT" property="skuNumber" />
    <result column="exclusive_sales" jdbcType="DECIMAL" property="exclusiveSales" />
    <result column="booked_gold" jdbcType="DECIMAL" property="bookedGold" />
    <result column="branch_code" jdbcType="VARCHAR" property="branchCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, area_code, order_amount, amount_paid, order_number, first_order_number, 
    valid_orders, new_refund_order, actual_refund_amount, sku_number, exclusive_sales, 
    booked_gold, branch_code
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_order_report_areacode
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tb_order_report_areacode
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xyy.saas.web.schedule.po.OrderReportAreacode">
    insert into tb_order_report_areacode (id, create_time, area_code, 
      order_amount, amount_paid, order_number, 
      first_order_number, valid_orders, new_refund_order, 
      actual_refund_amount, sku_number, exclusive_sales, 
      booked_gold, branch_code)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=VARCHAR}, #{areaCode,jdbcType=VARCHAR}, 
      #{orderAmount,jdbcType=DECIMAL}, #{amountPaid,jdbcType=DECIMAL}, #{orderNumber,jdbcType=BIGINT}, 
      #{firstOrderNumber,jdbcType=BIGINT}, #{validOrders,jdbcType=BIGINT}, #{newRefundOrder,jdbcType=BIGINT}, 
      #{actualRefundAmount,jdbcType=DECIMAL}, #{skuNumber,jdbcType=BIGINT}, #{exclusiveSales,jdbcType=DECIMAL}, 
      #{bookedGold,jdbcType=DECIMAL}, #{branchCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xyy.saas.web.schedule.po.OrderReportAreacode">
    insert into tb_order_report_areacode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="areaCode != null">
        area_code,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="amountPaid != null">
        amount_paid,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="firstOrderNumber != null">
        first_order_number,
      </if>
      <if test="validOrders != null">
        valid_orders,
      </if>
      <if test="newRefundOrder != null">
        new_refund_order,
      </if>
      <if test="actualRefundAmount != null">
        actual_refund_amount,
      </if>
      <if test="skuNumber != null">
        sku_number,
      </if>
      <if test="exclusiveSales != null">
        exclusive_sales,
      </if>
      <if test="bookedGold != null">
        booked_gold,
      </if>
      <if test="branchCode != null">
        branch_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountPaid != null">
        #{amountPaid,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=BIGINT},
      </if>
      <if test="firstOrderNumber != null">
        #{firstOrderNumber,jdbcType=BIGINT},
      </if>
      <if test="validOrders != null">
        #{validOrders,jdbcType=BIGINT},
      </if>
      <if test="newRefundOrder != null">
        #{newRefundOrder,jdbcType=BIGINT},
      </if>
      <if test="actualRefundAmount != null">
        #{actualRefundAmount,jdbcType=DECIMAL},
      </if>
      <if test="skuNumber != null">
        #{skuNumber,jdbcType=BIGINT},
      </if>
      <if test="exclusiveSales != null">
        #{exclusiveSales,jdbcType=DECIMAL},
      </if>
      <if test="bookedGold != null">
        #{bookedGold,jdbcType=DECIMAL},
      </if>
      <if test="branchCode != null">
        #{branchCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xyy.saas.web.schedule.po.OrderReportAreacode">
    update tb_order_report_areacode
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="areaCode != null">
        area_code = #{areaCode,jdbcType=VARCHAR},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="amountPaid != null">
        amount_paid = #{amountPaid,jdbcType=DECIMAL},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=BIGINT},
      </if>
      <if test="firstOrderNumber != null">
        first_order_number = #{firstOrderNumber,jdbcType=BIGINT},
      </if>
      <if test="validOrders != null">
        valid_orders = #{validOrders,jdbcType=BIGINT},
      </if>
      <if test="newRefundOrder != null">
        new_refund_order = #{newRefundOrder,jdbcType=BIGINT},
      </if>
      <if test="actualRefundAmount != null">
        actual_refund_amount = #{actualRefundAmount,jdbcType=DECIMAL},
      </if>
      <if test="skuNumber != null">
        sku_number = #{skuNumber,jdbcType=BIGINT},
      </if>
      <if test="exclusiveSales != null">
        exclusive_sales = #{exclusiveSales,jdbcType=DECIMAL},
      </if>
      <if test="bookedGold != null">
        booked_gold = #{bookedGold,jdbcType=DECIMAL},
      </if>
      <if test="branchCode != null">
        branch_code = #{branchCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xyy.saas.web.schedule.po.OrderReportAreacode">
    update tb_order_report_areacode
    set create_time = #{createTime,jdbcType=VARCHAR},
      area_code = #{areaCode,jdbcType=VARCHAR},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      amount_paid = #{amountPaid,jdbcType=DECIMAL},
      order_number = #{orderNumber,jdbcType=BIGINT},
      first_order_number = #{firstOrderNumber,jdbcType=BIGINT},
      valid_orders = #{validOrders,jdbcType=BIGINT},
      new_refund_order = #{newRefundOrder,jdbcType=BIGINT},
      actual_refund_amount = #{actualRefundAmount,jdbcType=DECIMAL},
      sku_number = #{skuNumber,jdbcType=BIGINT},
      exclusive_sales = #{exclusiveSales,jdbcType=DECIMAL},
      booked_gold = #{bookedGold,jdbcType=DECIMAL},
      branch_code = #{branchCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>